<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Main Page</title>
  <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
        href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
        rel="stylesheet" media="screen" />
<!--  <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />-->
  <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
          crossorigin="anonymous"
  ></script>
</head>
<body>
<!-- create navigation bar ( header) -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand p-0"
       href="/">
      <img src="../../static/images/logo.png" alt="Logo" width="40" />
    </a>
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Two</a>
        </li>
      </ul>
    </div>

    </div>
</nav>
<hr>
<br>
<br>
<h1>Welcome <span sec:authentication="principal.username"> User</span></h1>
<br>
<hr>
<a th:href="@{/}" class="btn btn-primary btn-sm mb-3"> User Page </a>

<hr>
  <a th:href="@{/users/}" class="btn btn-primary btn-sm mb-3"> User List </a>
<hr>
  <div>
    <footer>
      <p>©Copyright 2021 Ivanou Uladzimir. All rights reserved.</p>
    </footer>
  </div>
</div>
<!-- Вариант 2: Bootstrap JS отдельно от Popper-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>-->

</body>
</html>