<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Item Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container">
    <h1>Create Item Form</h1>
    <hr>
    <div>
        <form action="#"
              method="GET"
              th:action="@{'/users/buylists/' + ${createRequest.buyListId}}">
            <button type="submit" class="btn btn-outline-info col-2"> Back to BuyList Page</button>
        </form>
    </div>
    <hr>
    <div>
        <form action="#"
              method="POST"
              th:action="@{'/users/buylists/items/create'}"
              th:object="${createRequest}">

            <input class="form-control"
                   id="buyListId"
                   name="buyListId"
                   placeholder="buyListId"
                   th:value="${createRequest.buyListId}"
                   type="hidden"/>

            <label for="name">Name</label>
            <input class="form-control mb-4 col-4"
                   id="name"
                   name="name"
                   placeholder="name"
                   th:value="${createRequest.name}"
                   type="text"/>

            <label for="price">Price</label>
            <input class="form-control mb-4 col-4"
                   id="price"
                   name="price"
                   placeholder="price"
                   th:value="${createRequest.price}"
                   type="text"/>

            <label for="amount">Amount/PCS</label>
            <input class="form-control mb-4 col-4"
                   id="amount"
                   name="amount"
                   placeholder="amount"
                   th:value="${createRequest.amount}"
                   type="text"
                   value="1"/>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="topic">Select importance</label>
                    <select class="form-control" id="topic" th:field="*{importance}">
                        <option th:each="importance : ${T(org.example.hbmvc.domain.enums.Importance).values()}"
                                th:value="${importance}" th:text="${importance}"></option>
                    </select>
                </div>
            </div>

            <label for="description">Description</label>
            <input class="form-control mb-4 col-4"
                   id="description"
                   name="description"
                   placeholder="description"
                   th:value="${createRequest.description}"
                   type="text"/>


            <button type="submit" class="btn btn-outline-primary col-2"> Create Item</button>
        </form>
    </div>

</div>

</body>
</html>