<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Item Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div class="container">
    <h1>Item Page</h1>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/users/buylists/' + ${itemDto.buyListId}}">
        <button type="submit" class="btn btn-outline-info col-2">Back to BuyList Page</button>
    </form>
    <hr>
    <br> Name : <a th:text="${itemDto.name}"></a>
    <br> Description : <a th:text="${itemDto.description}"></a>
    <br> Importance : <a th:text="${itemDto.importance}"></a>
    <br> Amount / pcs : <a th:text="${itemDto.amount}"></a>
    <br>
    <br><h4><strong><mark>Price for one : <a th:text="${itemDto.price}"></a></mark></strong> </h4>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/users/buylists/items/' + ${itemDto.id} + '/updateForm/'}">
        <button type="submit" class="btn btn-outline-warning col-2">Update Item</button>
    </form>
    <hr>
</div>

</body>
</html>