<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>TodoList Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container">
    <h1>TodoList Page</h1>
    <hr>
    <div>
        <form action="#"
              method="GET"
              th:action="@{'/users/' + ${userId}}">
            <button type="submit" class="btn btn-outline-info col-2">Back to User Page</button>
        </form>
    </div>
    <hr>
    <div>
        <form action="#"
              method="GET"
              th:action="@{'/users/' + ${userId} + '/planning'}">
            <button type="submit" class="btn btn-outline-info col-2">Back to planning Page</button>
        </form>
    </div>
    <hr>
    <br>bla bla :
    <br>bla :
    <br>bla bla bla :
    <br>

    <hr>
    <div>
        <h4><strong>All TodoList</strong> (<i>all TodoList</i>)</h4>

        <table border="1" class="table table-striped table-responsive-md">
            <tr>
                <th>Created</th>
                <th>Name</th>
                <th>Description</th>
                <th>IsDone</th>
                <th>Actions</th>
            </tr>

            <tbody>
            <tr th:each="todoList : ${todoListDto}">
                <td th:text="${todoList.created}"></td>
                <td th:text="${todoList.name}"></td>
                <td th:text="${todoList.description}"></td>
                <td th:text="${todoList.isDone}"></td>

                <td>
                    <a class="btn btn-outline-info col-3"
                       th:href="@{'/users/todolists/' + ${todoList.id}}">View</a>

                    <a class="btn btn-outline-warning col-3"
                       th:href="@{'/users/todolists/' + ${todoList.id} + '/updateForm/'}">Update</a>

                    <a class="btn btn-outline-danger col-3"
                       th:href="@{'/users/' + ${todoList.userId} + '/todolists/' + ${todoList.id} + '/delete/'}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-outline-primary col-2"
           th:href="@{'/users/' + ${userId} + '/todolists/createForm/'}">Add</a>
    </div>

</div>

<hr>

</body>
</html>