<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>TodoList Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container">
    <h1>Update Form for TodoList</h1>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/users/' + ${todoListDto.userId} + '/todolists/'}">
        <button type="submit" class="btn btn-outline-info col-2"> Back to TodoList Page</button>
    </form>
    <hr>
    <br>User Id : <a th:text="${todoListDto.userId}"></a>

    <form action="#"
          method="POST"
          th:action="@{'/users/todolists/update'}"
          th:object="${updateRequest}">

        <input class="form-control"
               id="id"
               name="id"
               placeholder="item id"
               th:value="${todoListDto.id}"
               type="hidden"/>
        <input class="form-control"
               id="buyListId"
               name="buyListId"
               placeholder="buyList Id"
               th:value="${todoListDto.userId}"
               type="hidden"/>

        <label for="name">Name</label>
        <input class="form-control mb-4 col-4"
               id="name"
               name="name"
               placeholder="item name"
               th:value="${todoListDto.name}"
               type="text"/>

        <label for="description">Description</label>
        <input class="form-control mb-4 col-4"
               id="description"
               name="description"
               placeholder="item description"
               th:value="${todoListDto.description}"
               type="text"/>

        <button type="submit" class="btn btn-outline-warning col-2">Save Changes</button>
    </form>

    <hr>

</div>
</body>
</html>