<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>CardProduct Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container">
    <h1>CardProduct Page</h1>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/cardproducts/'}">
        <button type="submit" class="btn btn-outline-info col-2">Back to CardProducts Page</button>
    </form>
    <hr>
    <br> Name : <a th:text="${cardProductDto.name}"></a>
    <br> Description : <a th:text="${cardProductDto.description}"></a>
    <br> Category : <a th:text="${cardProductDto.categoryName}"></a>
    <br> Subcategory : <a th:text="${cardProductDto.subcategoryName}"></a>
    <br> Counter use : <a th:text="${cardProductDto.counterUse}"></a>
    <br> Updated : <a th:text="${cardProductDto.updated}"></a>
    <br> Created : <a th:text="${cardProductDto.created}"></a>
    <br> IsDeleted : <a th:text="${cardProductDto.isDeleted}"></a>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/cardproducts/' + ${cardProductDto.id} + '/updateForm/'}">
        <button type="submit" class="btn btn-outline-warning col-2">Update</button>
    </form>
    <hr>
</div>

</body>
</html>