<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>CardProduct Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
    <style type="text/css">
        #query {
        }
    </style>
</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container">
    <h1>All CardProduct</h1>
    <hr>
    <div>
        <form action="#"
              method="GET"
              th:action="@{'/users/'}">
            <button type="submit" class="btn btn-outline-info col-2">Back to UserS Page</button>
        </form>
    </div>
    <hr>
    <form action="#" th:action="@{/cardproducts/}" th:object="${query}" method="get">
        <div>
            <label for="filter">Find by Name: </label>
            <input id="filter" type="text" name="query" th:field="*{query}">
            <input type="submit" value="Search">
        </div>
    </form>

    <hr>
    <div>
        <h4><strong>CardProduct</strong> (<i>...</i>)</h4>
        <div>
            <a class="btn btn-outline-primary col-2"
               th:href="@{'/cardproducts/new/'}">Add</a>
        </div>
        <div>
            <table border="1" class="table table-striped table-responsive-md">
                <tr>
                    <th>Name</th>
                    <th>Subcategory</th>
                    <th>Category</th>
                    <th>Counter</th>
                    <th>Actions</th>
                </tr>

                <tbody>
                <tr th:each="card : ${cardDtoList}">
                    <td th:text="${card.name}"></td>
                    <td th:text="${card.subcategoryName}"></td>
                    <td th:text="${card.categoryName}"></td>
                    <td th:text="${card.counterUse}"></td>

                    <td>
                        <a class="btn btn-outline-info col-3"
                           th:href="@{'/cardproducts/' + ${card.id}}">View</a>

                        <a class="btn btn-outline-warning col-3"
                           th:href="@{'/cardproducts/' + ${card.id} + '/updateForm/'}">Update</a>

                        <a class="btn btn-outline-danger col-3"
                           th:href="@{'/cardproducts/' + ${card.id} + '/delete/'}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <hr>

</div>


</body>
</html>