<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>CardProduct Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container">
    <h1>Create CardProduct Form</h1>
    <hr>
    <div>
        <form action="#"
              method="GET"
              th:action="@{'/cardproducts/'}">
            <button type="submit" class="btn btn-outline-info col-2"> Back to CardProduct Page</button>
        </form>
    </div>
    <hr>
    <div>
        <h4><strong>Select Subcategory</strong> (<i></i>)</h4>
        <table border="1" class="table table-striped table-responsive-md">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>

            <tbody>
            <tr th:each="subcategory : ${subcategoryDtoList}">
                <td th:text="${subcategory.name}"></td>
                <td th:text="${subcategory.description}"></td>
                <td>
                    <a class="btn btn-outline-warning col-4"
                       th:href="@{'/cardproducts/new/select-subcategory/' + ${subcategory.name}}">select</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

</body>
</html>