<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Check List Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen"/>
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css"/>
    </head>
</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container">
    <h1>CheckList Management System</h1>
    <hr>
    <h2>CheckList Create Form</h2>
    <br>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{/users/{id}(id=${createRequest.userId})}">
        <button type="submit" class="btn btn-outline-info col-2"> Back to User Page</button>
    </form>
    <hr>

    <form action="#"
          method="POST"
          th:action="@{/users/checklists/create}"
          th:object="${createRequest}">

        <input type="hidden" th:field="*{userId}"/>

        <div class="form-group">
            <label for="Date">Purchase Date</label>
            <input class="form-control mb-4 col-4"
                   id="Date"
                   required
                   placeholder="date in format dd/MM/yyyy or dd.MM.yyyy"
                   th:field="*{date}"
                   type="text"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('date')}"
                 th:errors="*{date}"></div>
        </div>

        <div class="form-group">
            <label for="Name">Shop</label>
            <input class="form-control mb-4 col-4"
                   id="Name"
                   required
                   placeholder="Name of shop"
                   th:field="*{name}"
                   type="text"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('name')}"
                 th:errors="*{name}"></div>
        </div>

        <div class="form-group">
            <label for="Company">Company</label>
            <input class="form-control mb-4 col-4"
                   id="Company"
                   required
                   placeholder="The name of the company"
                   th:field="*{description}"
                   type="text"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('description')}"
                 th:errors="*{description}"></div>
        </div>

        <div class="form-group">
            <label for="Address">Address</label>
            <input class="form-control mb-4 col-4"
                   id="Address"
                   required
                   placeholder="Address - City, Street, house number"
                   th:field="*{place}"
                   type="text"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('place')}" th:errors="*{place}"></div>
        </div>

        <div class="form-group">
            <label for="Price">Total Price</label>
            <input class="form-control mb-4 col-4"
                   id="Price"
                   required
                   placeholder="Total Price in format 10.50 or 10,50"
                   th:field="*{totalPrice}"
                   type="text"/>
            <div class="alert alert-warning" th:if="${#fields.hasErrors('totalPrice')}"
                 th:errors="*{totalPrice}"></div>
        </div>

        <button type="submit" class="btn btn-info col-2"> Save CheckList</button>
    </form>

    <hr>

    <hr>
    <form action="#"
          method="GET"
          th:action="@{/users/{id}(id=${createRequest.userId})}">
        <button type="submit" class="btn btn-info col-2"> Back to User Page</button>
    </form>
</div>
</body>
</html>