<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Item Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container">
    <h1>Create Income Form</h1>
    <hr>
    <div>
        <form action="#"
              method="GET"
              th:action="@{'/users/' + ${createRequest.userId} + '/incomes/'}">
            <button type="submit" class="btn btn-outline-info col-2"> Back to Incomes Page</button>
        </form>
    </div>
    <hr>
    <div>
        <form action="#"
              method="POST"
              th:action="@{'/users/incomes/create'}"
              th:object="${createRequest}">

            <input class="form-control"
                   id="userId"
                   name="userId"
                   placeholder="userId"
                   th:value="${createRequest.userId}"
                   type="hidden"/>

            <div class="form-group">
                <label for="Date">Date</label>
                <input class="form-control mb-4 col-4"
                       id="Date"
                       placeholder="date in format dd.MM.yyyy"
                       th:field="*{date}"
                       type="text"/>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
            </div>

            <label for="name">Name</label>
            <input class="form-control mb-4 col-4"
                   id="name"
                   name="name"
                   placeholder="name"
                   th:value="${createRequest.name}"
                   type="text"/>

            <label for="sum">sum</label>
            <input class="form-control mb-4 col-4"
                   id="sum"
                   name="sum"
                   placeholder="sum"
                   th:value="${createRequest.sum}"
                   type="text"/>


            <label for="description">Description</label>
            <input class="form-control mb-4 col-4"
                   id="description"
                   name="description"
                   placeholder="description"
                   th:value="${createRequest.description}"
                   type="text"/>


            <button type="submit" class="btn btn-outline-primary col-2"> Create Item</button>
        </form>
    </div>

</div>

</body>
</html>