<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>BuyList Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container">
    <h2>BuyList Create Form</h2>
    <br>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{/users/{id}(id=${createRequest.userId})}">
        <button type="submit" class="btn btn-outline-info col-2"> Back to User Page</button>
    </form>
    <hr>
    <form action="#"
          method="POST"
          th:action="@{'/users/buylists/create/'}"
          th:object="${createRequest}">

        <input type="hidden" th:field="*{userId}"/>

        <input class="form-control mb-4 col-4"
               placeholder="BuyList Name"
               th:field="*{name}"
               type="text"/>

        <input class="form-control mb-4 col-4"
               placeholder="BuyList Description"
               th:field="*{description}"
               type="text"/>

        <button class="btn btn-outline-primary col-2" type="submit"> Save BuyList</button>
    </form>


</div>
</body>
</html>