<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>subcategory Management System</title>

    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>

</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div class="container">
    <h1>subcategory Page</h1>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/categories/' + ${subcategoryDto.categoryId}}">
        <button type="submit" class="btn btn-outline-info col-2">Back to Category Page</button>
    </form>
    <hr>
    <br> Name : <a th:text="${subcategoryDto.name}"></a>
    <br> Description : <a th:text="${subcategoryDto.description}"></a>
    <br> Created : <a th:text="${subcategoryDto.created}"></a>
    <br> Updated : <a th:text="${subcategoryDto.updated}"></a>
    <br>
    <br><h6><strong><mark>Category Name : <a th:text="${subcategoryDto.categoryName}"></a></mark></strong> </h6>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/categories/subcategories/' + ${subcategoryDto.id} + '/updateForm/'}">
        <button type="submit" class="btn btn-outline-warning col-2">Update subcategory</button>
    </form>
    <hr>
</div>

</body>
</html>