<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Item Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>
<div class="container">
    <h1>Create Goods Form</h1>
    <hr>
    <div>
        <form action="#"
              method="GET"
              th:action="@{'/users/checklists/' + ${createRequest.checkListId}}">
            <button type="submit" class="btn btn-outline-info col-2"> Back to BuyList Page</button>
        </form>
    </div>
    <hr>
    <div>
        <form action="#"
              method="POST"
              th:action="@{'/users/checklists/goods/create'}"
              th:object="${createRequest}">

            <input class="form-control"
                   id="checkListId"
                   name="checkListId"
                   placeholder="checkListId"
                   th:value="${createRequest.checkListId}"
                   type="hidden"/>
            <input class="form-control"
                   id="cardProductName"
                   name="cardProductName"
                   placeholder="cardProductName"
                   th:value="${createRequest.cardProductName}"
                   type="hidden"/>

            <label for="name">Name</label>
            <input class="form-control mb-4 col-4"
                   id="name"
                   name="name"
                   placeholder="name"
                   th:value="${createRequest.cardProductName}"
                   type="text"/>

            <label for="price">Price</label>
            <input class="form-control mb-4 col-4"
                   id="price"
                   name="price"
                   placeholder="price"
                   th:value="${createRequest.price}"
                   type="text"/>

            <label for="amount">Amount/PCS</label>
            <input class="form-control mb-4 col-4"
                   id="amount"
                   name="amount"
                   placeholder="amount"
                   th:value="${createRequest.amount}"
                   type="text"
                   value="1"/>

            <button type="submit" class="btn btn-outline-primary col-2"> Create Goods</button>
            <br>
            <br>
            <br><a><strong>Set Details</strong></a>
            <br>
            <br>
            <label for="priceWithoutDiscount">Price Without Discount</label>
            <input class="form-control mb-4 col-4"
                   id="priceWithoutDiscount"
                   name="priceWithoutDiscount"
                   placeholder="priceWithoutDiscount"
                   th:value="${createRequest.priceWithoutDiscount}"
                   type="text"/>

            <label for="weightInGrams">weight In Grams</label>
            <input class="form-control mb-4 col-4"
                   id="weightInGrams"
                   name="weightInGrams"
                   placeholder="weightInGrams"
                   th:value="${createRequest.weightInGrams}"
                   type="text"/>


            <label for="milliliters">milliliters</label>
            <input class="form-control mb-4 col-4"
                   id="milliliters"
                   name="milliliters"
                   placeholder="milliliters"
                   th:value="${createRequest.milliliters}"
                   type="text"/>

            <label for="composition">composition</label>
            <input class="form-control mb-4 col-4"
                   id="composition"
                   name="composition"
                   placeholder="composition"
                   th:value="${createRequest.composition}"
                   type="text"/>

            <label for="madeIn">made In</label>
            <input class="form-control mb-4 col-4"
                   id="madeIn"
                   name="madeIn"
                   placeholder="madeIn"
                   th:value="${createRequest.madeIn}"
                   type="text"/>

            <label for="detailOne">detail One</label>
            <input class="form-control mb-4 col-4"
                   id="detailOne"
                   name="detailOne"
                   placeholder="detailOne"
                   th:value="${createRequest.detailOne}"
                   type="text"/>

            <label for="detailTwo">detail Two</label>
            <input class="form-control mb-4 col-4"
                   id="detailTwo"
                   name="detailTwo"
                   placeholder="detailTwo"
                   th:value="${createRequest.detailTwo}"
                   type="text"/>

            <label for="detailThree">detail Three</label>
            <input class="form-control mb-4 col-4"
                   id="detailThree"
                   name="detailThree"
                   placeholder="detailThree"
                   th:value="${createRequest.detailThree}"
                   type="text"/>



        </form>
    </div>
<hr>
</div>

</body>
</html>