<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Item Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>
<div class="container">
    <h1>All Goods Page</h1>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/users/checklists/' + ${checkListId}}">
        <button type="submit" class="btn btn-outline-info col-2">Back to Check Page</button>
    </form>
    <hr>
    <br>CheckList Id : <a th:text="${checkListId}"></a>
    <br>
    <hr>
    <div>
        <h1>Goods List</h1>
        <div>
            <table border="1" class="table table-striped table-responsive-md">
                <tr>
                    <th>Name</th>
                    <th>Price per One</th>
                    <th>WithoutDiscount</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>

                <tbody>
                <tr th:each="goods : ${GoodsDtoList}">
                    <td th:text="${goods.name}"></td>
                    <td th:text="${goods.price}"></td>
                    <td th:text="${goods.priceWithoutDiscount}"></td>
                    <td th:text="${goods.amount}"></td>

                    <td>
                        <a class="btn btn-outline-info col-3"
                           th:href="@{'/users/checklists/goods/' + ${goods.id}}">View</a>
                        <a class="btn btn-outline-warning col-3"
                           th:href="@{'/users/checklists/goods/' + ${goods.id} + '/updateForm/'}">Update</a>
                        <a class="btn btn-outline-danger col-3"
                           th:href="@{'/users/checklists/' + ${goods.checkId} + '/goods/' + ${goods.id} + '/delete/'}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
<hr>


</body>
</html>