<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>CardProduct Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
    <style type="text/css">
        #query {
        }
    </style>
</head>
<body>
<div class="container">
    <h1>All CardProduct</h1>
    <hr>
    <div>
        <form action="#"
              method="GET"
              th:action="@{'/users/checklists/' + ${checkListId}}">
            <button type="submit" class="btn btn-outline-info col-2">Back to Check</button>
        </form>
    </div>
    <hr>
    <form action="#" method="GET"
          th:action="@{'/users/checklists/' + ${checkListId} + '/select-cardproducts/' }" th:object="${query}">
        <div>
            <label for="filter">Find by Name: </label>
            <input id="filter" type="text" name="query" th:field="*{query}">
            <input type="submit" value="Search">
        </div>
    </form>
    <div>
        <a class="btn btn-outline-primary col-2"
           th:href="@{'/users/checklists/' + ${checkListId} + '/cardproducts/new'}">Create New</a>
    </div>
    <hr>
    <div>
        <h4><strong>CardProduct</strong> (<i>...</i>)</h4>

        <div>
            <table border="1" class="table table-striped table-responsive-md">
                <thead>
                <tr>
                    <th>Actions</th>
                    <th>
                        <a th:href="@{'/users/checklists/' + ${checkListId} + '/select-cardproducts/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">Name</a>
                    </th>
                    <th>Subcategory</th>
                    <th>Category</th>
                    <th>Counter</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="card : ${cardDtoList}">
                    <td>
                        <a class="btn btn-outline-warning col-8"
                           th:href="@{'/users/checklists/' + ${checkListId} + '/goods/createForm/' + ${card.name}}">Select</a>
                    </td>
                    <td th:text="${card.name}"></td>
                    <td th:text="${card.subcategoryName}"></td>
                    <td th:text="${card.categoryName}"></td>
                    <td th:text="${card.counterUse}"></td>

                </tr>
                </tbody>
            </table>

        </div>
        <div th:if="${totalPages > 1}">
            <div class="row col-sm-10">
                <div class="col-sm-2">
                    Total Rows: [[${totalItems}]]
                </div>
                <div class="col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}"
                           th:href="@{'/users/checklists/' + ${checkListId} + '/select-cardproducts/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
                </div>
                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}"
                       th:href="@{'/users/checklists/' + ${checkListId} + '/select-cardproducts/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                    <span th:unless="${currentPage < totalPages}">Next</span>
                </div>

                <div class="col-sm-1">
                    <a th:if="${currentPage < totalPages}"
                       th:href="@{'/users/checklists/' + ${checkListId} + '/select-cardproducts/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                    <span th:unless="${currentPage < totalPages}">Last</span>
                </div>
            </div>
        </div>
    </div>

    <hr>

</div>


</body>
</html>