<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Finance Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>

</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container">
    <br><h1><strong><a>Finance page</a></strong></h1><br>
    <hr>
    <div>
    <form action="#"
          method="GET"
          th:action="@{'/users/' + ${userId}}">
        <button type="submit" class="btn btn-outline-info col-2">Back to User Page</button>
    </form>
</div>
    <hr>
    <br>Amount Checks :
    <br>Amount Income :
    <br>bla bla :
    <br>bla :
    <h3><br>income Total Sum All Time : <a th:text="${incomeTotalSum}"></a></h3>
    <br>bla bla bla :
    <h3><br>expenses Total Sum All Time  : <a th:text="${expenseTotalSum}"></a></h3>
    <h3><br>year expenses Total Sum : <a th:text="${expenseYearSum}"></a></h3>
    <h3><br>month expenses Total Sum : <a th:text="${expenseMonthSum}"></a></h3>
    <h3><br>week expenses Total Sum : <a th:text="${expenseWeekSum}"></a></h3>
    <br>

    <hr>
    <div>

        <form action="#"
              method="GET"
              th:action="@{'/users/' + ${userId} + '/checklists/'}">
            <button type="submit" class="btn btn-outline-info col-2">All Checks Details</button>
        </form>

        <h4><strong>Checks</strong> (<i>all expenses</i>)</h4>

        <table border="1" class="table table-striped table-responsive-md">
            <tr>
                <th>Data</th>
                <th>Name</th>
                <th>Place</th>
                <th>Total Price</th>
                <th>Actions</th>
            </tr>

            <tbody>
            <tr th:each="check : ${checkListDto}">
                <td th:text="${check.purchaseDate}"></td>
                <td th:text="${check.name}"></td>
                <td th:text="${check.created}"></td>
                <td th:text="${check.totalPrice}"></td>

                <td>
                    <a class="btn btn-outline-info col-3"
                       th:href="@{'/users/checklists/' + ${check.id}}">View</a>

                    <a class="btn btn-outline-warning col-3"
                       th:href="@{'/users/checklists/' + ${check.id} + '/updateForm/'}">Update</a>

                    <a class="btn btn-outline-danger col-3"
                       th:href="@{'/users/' + ${userId} + '/checklists/' + ${check.id} + '/delete/'}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-outline-primary col-2"
           th:href="@{'/users/' + ${userId} + '/checklists/createForm/'}">Add</a>
    </div>

    <hr>
    <div>

        <h4><strong>Income</strong> (<i>All income</i>)</h4>

        <form action="#"
              method="GET"
              th:action="@{'/users/' + ${userId} + '/incomes/' }">
            <button type="submit" class="btn btn-outline-info col-2">All Income Details</button>
        </form>

        <table border="1" class="table table-striped table-responsive-md">
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Description</th>
                <th>Sum</th>
                <th>Actions</th>
            </tr>

            <tbody>
            <tr th:each="income : ${incomeDtoList}">
                <td th:text="${income.date}"></td>
                <td th:text="${income.name}"></td>
                <td th:text="${income.description}"></td>
                <td th:text="${income.sum}"></td>

                <td>
                    <a class="btn btn-outline-info col-3"
                       th:href="@{'/users/incomes/' + ${income.id}}">View</a>

                    <a class="btn btn-outline-warning col-3"
                       th:href="@{'/users/incomes/' + ${income.id} + '/updateForm/'}">Update</a>

                    <a class="btn btn-outline-danger col-3"
                       th:href="@{'/users/' + ${income.userId} + '/incomes/' + ${income.id} + '/delete/'}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-outline-primary col-2"
           th:href="@{'/users/' + ${userId} + '/incomes/createForm/'}">Add</a>
    </div>

    <hr>
    <div>

        <h4><strong>Report</strong> (<i> in developing...</i>)</h4>

        <form action="#"
              method="GET"
              th:action="@{'/users/' + ${userId} + '/reports'}">
            <button type="submit" class="btn btn-outline-info col-2">All Reports Details</button>
        </form>

        <table border="1" class="table table-striped table-responsive-md">
            <tr>
                <th>Created</th>
                <th>Name</th>
                <th>Timeline</th>
                <th>Actions</th>
            </tr>

            <tbody>
            <tr th:each="report : ${reportDtoList}">
                <td th:text="${report.created}"></td>
                <td th:text="${report.name}"></td>
                <td th:text="${report.timeline}"></td>

                <td>
                    <a class="btn btn-outline-info col-3"
                       th:href="@{'/users/reports/' + ${report.id}}">View</a>

                    <a class="btn btn-outline-warning col-3"
                       th:href="@{'/users/reports/' + ${report.id} + '/updateForm/'}">Update</a>

                    <a class="btn btn-outline-danger col-3"
                       th:href="@{'/users/' + ${report.userId} + '/reports/' + ${report.id} + '/delete/'}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-outline-primary col-2"
           th:href="@{'/users/' + ${userId} + '/reports/createForm/'}">Add</a>
    </div>

</div>

<hr>

</body>
</html>