<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Employee Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>

</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container">
    <h1>User Page</h1>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{/users/}">
        <button type="submit" class="btn btn-outline-info col-2">Back to List Users</button>
    </form>
    <hr>
    <br>User Name : <a th:text="${user.name}"></a>
    <br>User Surname : <a th:text="${user.surname}"></a>
    <br>Email : <a th:text="${user.email}"></a>
    <br>Password : <a th:text="${user.password}"></a>
    <br>Created : <a th:text="${user.created}"></a>
    <br>Last Updated : <a th:text="${user.updated}"></a>
    <br>Is Deleted : <a th:text="${user.isDeleted}"></a>
    <br>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{/users/{id}(id=${user.id})/updateForm/}">
        <button type="submit" class="btn btn-outline-warning col-2">Update User</button>
    </form>
    <hr>

    <div>
        <br><h1><strong><a>Planning section</a></strong></h1><br>
        <form action="#"
              method="GET"
              th:action="@{/users/}">
            <button type="submit" class="btn btn-outline-info col-2">Planning Details</button>
        </form>

        <hr>

        <div>
            <h4><strong>BuyLists</strong> (<i>what you need or want to buy</i>)</h4>

            <table border="1" class="table table-striped table-responsive-md">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Created</th>
                    <th>Total Price</th>
                    <th>Actions</th>
                </tr>

                <tbody>
                <tr th:each="buyList : ${planning.buyLists}">
                    <td th:text="${buyList.id}"></td>
                    <td th:text="${buyList.name}"></td>
                    <td th:text="${buyList.description}"></td>
                    <td th:text="${buyList.created}"></td>
                    <td th:text="${buyList.totalPrice}"></td>

                    <td>
                        <a class="btn btn-outline-info col-3"
                           th:href="@{/users/buylists/{id}(id=${buyList.id})}">View</a>

                        <a class="btn btn-outline-warning col-3"
                           th:href="@{/users/buylists/updateForm/{id}(id=${buyList.id})}">Update</a>

                        <a class="btn btn-outline-danger col-3"
                           th:href="@{'/users/' + ${user.id} + '/buylists/delete/' + ${buyList.id}}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-outline-primary col-2"
               th:href="@{'/users/' + ${user.id} + '/buylists/createForm'}"> Add BuyList </a>
        </div>

        <hr>
        <div>

            <h4><strong>To-Do List</strong> (<i>what needs to be done</i>)</h4>

            <table border="1" class="table table-striped table-responsive-md">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Created</th>
                    <th>Is Done?</th>
                    <th>Actions</th>
                </tr>

                <tbody>
                <tr th:each="buyList : ${user.buyList}">
                    <td th:text="${buyList.id}"></td>
                    <td th:text="${buyList.name}"></td>
                    <td th:text="${buyList.description}"></td>
                    <td th:text="${buyList.created}"></td>
                    <td th:text="${buyList.created}"></td>

                    <td>
                        <a class="btn btn-outline-info col-3"
                           th:href="@{/users/buylists/{id}(id=${buyList.id})}">View</a>

                        <a class="btn btn-outline-warning col-3"
                           th:href="@{/users/buylists/updateForm/{id}(id=${buyList.id})}">Update</a>

                        <a class="btn btn-outline-danger col-3"
                           th:href="@{'/users/' + ${buyList.userId} + '/buylists/delete/' + ${buyList.id}}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <a class="btn btn-outline-primary col-2"
               th:href="@{'/users/' + ${user.id} + '/buylists/createForm'}"> Add To-Do List </a>
        </div>

    </div>

    <hr>

    <div>
        <br><h1><strong><a>Financial Accounting</a></strong></h1><br>
        <form action="#"
              method="GET"
              th:action="@{/users/}">
            <button type="submit" class="btn btn-outline-info col-2">Finance Details</button>
        </form>
        <hr>

        <div>
            <h4><strong>CheckList</strong>(<i>checks, receipts... - what has actually been bought or paid for</i>)</h4>

            <table border="1" class="table table-striped table-responsive-md">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Place</th>
                    <th>Created</th>
                    <th>Total Price</th>
                    <th>Actions</th>
                </tr>

                <tbody>
                <tr th:each="check : ${user.checkList}">
                    <td th:text="${check.id}"></td>
                    <td th:text="${check.name}"></td>
                    <td th:text="${check.place}"></td>
                    <td th:text="${check.created}"></td>
                    <td th:text="${check.totalPrice}"></td>

                    <td>
                        <a class="btn btn-outline-info col-3"
                           th:href="@{/users/checklists/{id}(id=${check.id})}">View</a>
                        <a class="btn btn-outline-warning col-3"
                           th:href="@{/users/checklists/updateForm/{id}(id=${check.id})}">Update</a>
                        <a class="btn btn-outline-danger col-3"
                           th:href="@{'/users/' + ${check.ownerId} + '/checklists/delete/' + ${check.id}}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <a class="btn btn-outline-primary col-2"
               th:href="@{'/users/' + ${user.id} + '/checklists/createForm'}"> Add Check </a>
        </div>
    </div>

    <hr>

</div>
</body>
</html>