<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>CardProduct Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>
<div class="container">
    <h1>Create CardProduct Form</h1>
    <hr>
    <div>
        <form action="#"
              method="GET"
              th:action="@{'/users/checklists/' + ${checkListId} + '/select-cardproducts'}">
            <button type="submit" class="btn btn-outline-info col-2">Back to select-cardproducts</button>
        </form>
    </div>
    <hr>
    <div>
        <form action="#"
              method="POST"
              th:action="@{'/users/checklists/' + ${checkListId} + '/cardproducts/create'}"
              th:object="${createRequest}">


            <label for="name">Name</label>
            <input class="form-control mb-4 col-4"
                   id="name"
                   name="name"
                   placeholder="name"
                   th:value="${createRequest.name}"
                   type="text"/>

            <label for="description">Description</label>
            <input class="form-control mb-4 col-4"
                   id="description"
                   name="description"
                   placeholder="description"
                   th:value="${createRequest.description}"
                   type="text"/>

            <label for="subcategoryName">Subcategory</label>
            <input class="form-control mb-4 col-4"
                   id="subcategoryName"
                   name="subcategoryName"
                   placeholder="subcategoryName"
                   th:value="${createRequest.subcategoryName}"
                   type="text"/>


            <button type="submit" class="btn btn-outline-primary col-2"> Create</button>
        </form>
    </div>
    <hr>
    <div>
        <table th:border="5" class="table table-striped table-responsive-md">
            <tr>
                <th><strong>SubProducts</strong></th>
                <th><strong>SubSubjects</strong></th>
                <th><strong>SubServices</strong></th>
                <th><strong>SubEntertainment</strong></th>
                <th><strong>SubBeauty</strong></th>
                <th><strong>SubHealths</strong></th>
            </tr>

            <tbody>
            <tr>
                <td>
                    <br>BAKERY
                    <br>FRUITS
                    <br>VEGETABLES
                    <br>SWEETS
                    <br>MILK
                    <br>MEAT
                    <br>FISH
                    <br>EGGS
                    <br>CEREALS
                    <br>FLOUR
                    <br>PASTA
                    <br>SPICES
                    <br>WINE
                    <br>TOBACCO
                    <br>OTHER
                </td>
                <td>
                    <br>FURNITURE
                    <br>CLOTHES
                    <br>SHOES
                    <br>TECHNIQUE
                    <br>ELECTRONICS
                    <br>DISHES
                    <br>HOUSEHOLD_CHEMICALS
                    <br>OTHER
                </td>
                <td>
                    <br>COMMUNAL
                    <br>HOUSING
                    <br>TRANSPORT
                    <br>INTERNET
                    <br> MOBILE_CONNECTION
                    <br>OTHER
                </td>
                <td>
                    <br>PRESENT
                    <br>CINEMA
                    <br>TRAVEL
                    <br>CAFE
                    <br>OTHER
                </td>
                <td>
                    <br>SALON
                    <br>MANICURE
                    <br>DEPILATION
                    <br>OTHER
                </td>
                <td>
                    <br>MEDICAMENT
                    <br>HYGIENE
                    <br>VITAMINS
                    <br>OTHER
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr>

</body>
</html>