<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>goods Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>
<div class="container">
    <h1>goods Page</h1>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/users/checklists/' + ${goodsDto.checkId}}">
        <button type="submit" class="btn btn-outline-info col-2">Back to Check Page</button>
    </form>
    <hr>
    <h6><strong> Name : <a th:text="${goodsDto.name}"></a></strong></h6>
    <h6><strong> Amount / pcs : <a th:text="${goodsDto.amount}"></a></strong></h6>
    <br><h4><strong><mark>Price : <a th:text="${goodsDto.price}"></a></mark></strong></h4>
    <br>
    <h6><strong>Price Without Discount : <a th:text="${goodsDto.priceWithoutDiscount}"></a></strong></h6>
         weightInGrams : <a th:text="${goodsDto.weightInGrams}"></a>
    <br> milliliters : <a th:text="${goodsDto.milliliters}"></a>
    <br> composition : <a th:text="${goodsDto.composition}"></a>
    <br> madeIn : <a th:text="${goodsDto.madeIn}"></a>

    <br> detailOne : <a th:text="${goodsDto.detailOne}"></a>
    <br> detailTwo : <a th:text="${goodsDto.detailTwo}"></a>
    <br> detailThree : <a th:text="${goodsDto.detailThree}"></a>

    <br> created : <a th:text="${goodsDto.created}"></a>
    <br> updated : <a th:text="${goodsDto.updated}"></a>
    <br> isDeleted : <a th:text="${goodsDto.isDeleted}"></a>

    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/users/checklists/goods/' + ${goodsDto.id} + '/updateForm/'}">
        <button type="submit" class="btn btn-outline-warning col-2">Update</button>
    </form>
    <hr>
</div>

</body>
</html>