<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Item Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>
<div class="container">
    <h1>Update Form for Goods</h1>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/users/checklists/' + ${goodsDto.checkId}}">
        <button type="submit" class="btn btn-outline-info col-2">Back to Check Page</button>
    </form>
    <hr>

    <form action="#"
          method="POST"
          th:action="@{'/users/checklists/goods/update'}"
          th:object="${updateRequest}">

        <input class="form-control"
               id="id"
               name="id"
               placeholder="item id"
               th:value="${goodsDto.id}"
               type="hidden"/>
        <input class="form-control"
               id="checkId"
               name="checkId"
               placeholder="checkId"
               th:value="${goodsDto.checkId}"
               type="hidden"/>
        <input class="form-control"
               id="cardProductName"
               name="cardProductName"
               placeholder="cardProductName"
               th:value="${goodsDto.cardProductName}"
               type="hidden"/>

        <label for="name">Name</label>
        <input class="form-control mb-4 col-4"
               id="name"
               name="name"
               placeholder="name"
               th:value="${goodsDto.name}"
               type="text"/>

        <label for="price">Price</label>
        <input class="form-control mb-4 col-4"
               id="price"
               name="price"
               placeholder="price"
               th:value="${goodsDto.price}"
               type="text"/>

        <label for="amount">Amount/PCS</label>
        <input class="form-control mb-4 col-4"
               id="amount"
               name="amount"
               placeholder="amount"
               th:value="${goodsDto.amount}"
               type="text"
               value="1"/>

        <label for="priceWithoutDiscount">Price Without Discount</label>
        <input class="form-control mb-4 col-4"
               id="priceWithoutDiscount"
               name="priceWithoutDiscount"
               placeholder="priceWithoutDiscount"
               th:value="${goodsDto.priceWithoutDiscount}"
               type="text"/>

        <label for="weightInGrams">weight In Grams</label>
        <input class="form-control mb-4 col-4"
               id="weightInGrams"
               name="weightInGrams"
               placeholder="weightInGrams"
               th:value="${goodsDto.weightInGrams}"
               type="text"/>


        <label for="milliliters">milliliters</label>
        <input class="form-control mb-4 col-4"
               id="milliliters"
               name="milliliters"
               placeholder="milliliters"
               th:value="${goodsDto.milliliters}"
               type="text"/>

        <label for="composition">composition</label>
        <input class="form-control mb-4 col-4"
               id="composition"
               name="composition"
               placeholder="composition"
               th:value="${goodsDto.composition}"
               type="text"/>

        <label for="madeIn">made In</label>
        <input class="form-control mb-4 col-4"
               id="madeIn"
               name="madeIn"
               placeholder="madeIn"
               th:value="${goodsDto.madeIn}"
               type="text"/>

        <label for="detailOne">detail One</label>
        <input class="form-control mb-4 col-4"
               id="detailOne"
               name="detailOne"
               placeholder="detailOne"
               th:value="${goodsDto.detailOne}"
               type="text"/>

        <label for="detailTwo">detail Two</label>
        <input class="form-control mb-4 col-4"
               id="detailTwo"
               name="detailTwo"
               placeholder="detailTwo"
               th:value="${goodsDto.detailTwo}"
               type="text"/>

        <label for="detailThree">detail Three</label>
        <input class="form-control mb-4 col-4"
               id="detailThree"
               name="detailThree"
               placeholder="detailThree"
               th:value="${goodsDto.detailThree}"
               type="text"/>

        <button type="submit" class="btn btn-outline-warning col-2">Save Changes</button>
    </form>

    <hr>

</div>
</body>
</html>