<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container">
    <h1>User Management System</h1>
    <hr>
    <h2>User Create Form</h2>

    <form action="#" th:action="@{/users/create}" th:object="${user}"
          method="POST">
        <input class="form-control mb-4 col-4" placeholder="User Name"
               th:field="*{name}" type="text">

        <input type="text" th:field="*{surname}"
               placeholder="User Surname" class="form-control mb-4 col-4">

        <input type="text" th:field="*{email}"
               placeholder="Email" class="form-control mb-4 col-4">

<!--        <input type="text" th:field="*{login}"-->
<!--               placeholder="Login" class="form-control mb-4 col-4">-->

        <input type="text" th:field="*{password}"
               placeholder="Password" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Create</button>
    </form>

    <hr>

    <form action="#"
          method="GET"
          th:href="@{/}">
        <button type="submit" class="btn btn-info col-2">Back to Home Page</button>
    </form>
</div>
</body>
</html>