<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>User Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container">
    <h1>Update Form for User</h1>
<hr>
    <form action="#"
          method="GET"
          th:href="@{/users/{id}(id=${userDto.id})}">
        <button type="submit" class="btn btn-outline-info col-2"> Back to User Page</button>
    </form>
    <hr>
    <form action="#"
          method="POST"
          th:action="@{/users/update/}"
          th:object="${updateRequest}">

        <input class="form-control"
               id="id"
               name="id"
               placeholder="user id"
               th:value="${userDto.id}"
               type="hidden"/>

        <label for="name">Name</label>
        <input class="form-control mb-4 col-4"
               id="name"
               name="name"
               placeholder="user name"
               th:value="${userDto.name}"
               type="text"/>

        <label for="surname">Surname</label>
        <input class="form-control mb-4 col-4"
               type="text"
               th:value="${userDto.surname}" name="surname" id="surname"
               placeholder="user surname"/>

        <label for="email">Email</label>
        <input class="form-control mb-4 col-4"
               type="text"
               th:value="${userDto.email}" name="email" id="email"
               placeholder="user email"/>

<!--        <label for="login">Login</label>-->
<!--        <input class="form-control mb-4 col-4"-->
<!--               type="text"-->
<!--               th:value="${userDto.login}" name="login" id="login"-->
<!--               placeholder="user login"/>-->

        <label for="password">Password</label>
        <input class="form-control mb-4 col-4"
               type="text"
               th:value="${userDto.password}" name="password" id="password"
               placeholder="user password"/>

        <button type="submit" class="btn btn-outline-warning col-2">Save Changes</button>
    </form>

    <hr>


</div>
</body>
</html>