<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8"/>
    <title>Employee Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen"/>
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css"/>
    </head>

</head>
<body>

<th:block th:include="fragments/header.html :: header (userId = ${userDto.id})"></th:block>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container">
    <div class="jumbotron">
        <div class="row text-center">
            <div class="row">
                <h2>Home Bookkeeping Application</h2>
            </div>
        </div>
        <div class="row text-center">
            <img src="../../static/images/img1.png" width="30%"
                 th:src="@{/images/img1.png}"/>
        </div>
    </div>
    <h1>User Page</h1>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{/users/}">
        <button type="submit" class="btn btn-outline-info col-2">Back to List Users</button>
    </form>
    <form action="#"
          method="GET"
          th:action="@{/users/}">
        <button type="submit" class="btn btn-outline-info col-2">Logout DW</button>
    </form>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{/cardproducts/}">
        <button type="submit" class="btn btn-outline-info col-2">CardProducts</button>
    </form>
    <hr>
    <br>User Name : <a th:text="${userDto.name}"></a>
    <br>User Surname : <a th:text="${userDto.surname}"></a>
    <br>Email : <a th:text="${userDto.email}"></a>
    <br>Password : <a th:text="${userDto.password}"></a>
    <br>Created : <a th:text="${userDto.created}"></a>
    <br>Last Updated : <a th:text="${userDto.updated}"></a>
    <br>Is Deleted : <a th:text="${userDto.isDeleted}"></a>
    <br>

    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/users/' + ${userDto.id} + '/updateForm/'}">
        <button type="submit" class="btn btn-outline-warning col-2">Update User</button>
    </form>
    <hr>
    <div>
        <br>
        <h1><strong><a>Finance section</a></strong></h1><br>
        <form action="#"
              method="GET"
              th:action="@{'/users/' + ${userDto.id} + '/finance/'}">
            <button type="submit" class="btn btn-outline-info col-2">Finance Details</button>
        </form>
        <hr>
        <a class="btn btn-outline-primary col-2"
           th:href="@{'/users/' + ${userDto.id} + '/checklists/createForm'}"> Add Check </a>


        <div>
            <br>
            <h1><strong><a>Planning section</a></strong></h1><br>
            <form action="#"
                  method="GET"
                  th:action="@{'/users/' + ${userDto.id} + '/planning'}">
                <button type="submit" class="btn btn-outline-info col-2">Planning Details</button>
            </form>

            <hr>
            <div>
                <form action="#"
                      method="GET"
                      th:action="@{'/users/' + ${userDto.id} + '/buylists'}">
                    <button type="submit" class="btn btn-outline-info col-2"> BuyList Page</button>
                </form>
            </div>
            <a class="btn btn-outline-primary col-2"
               th:href="@{'/users/' + ${userDto.id} + '/buylists/createForm'}"> Add BuyList </a>
            <hr>
            <div>
                <form action="#"
                      method="GET"
                      th:action="@{'/users/' + ${userDto.id} + '/todolists/'}">
                    <button type="submit" class="btn btn-outline-info col-2"> TodoList Page</button>
                </form>
            </div>
            <a class="btn btn-outline-primary col-2"
               th:href="@{'/users/' + ${userDto.id} + '/todolists/createForm'}"> Add To-Do List </a>

            <hr>

        </div>

        <div>
            <br>
            <h1><strong><a>Favorites</a></strong></h1><br>
            <hr>
            <div>
                <h4><strong>BuyLists</strong> (<i>favorites</i>)</h4>

                <table border="1" class="table table-striped table-responsive-md">
                    <tr>
                        <th>*</th>
                        <th>Name</th>
                        <th>Created</th>
                        <th>Is Done?</th>
                        <th>Total Price</th>
                        <th>Actions</th>
                    </tr>

                    <tbody>
                    <tr th:each="buyList : ${favoritesBuyList}">
                        <td th:text="${buyList.isFavorites}"></td>
                        <td th:text="${buyList.name}"></td>
                        <td th:text="${buyList.created}"></td>
                        <td th:text="${buyList.isDone}"></td>
                        <td th:text="${buyList.totalPrice}"></td>

                        <td>
                            <a class="btn btn-outline-info col-3"
                               th:href="@{'/users/' + ${userDto.id} + '/buylists/' + ${buyList.id}}">View</a>

                            <a class="btn btn-outline-warning col-3"
                               th:href="@{'/users/' + ${userDto.id} + '/buylists/' + ${buyList.id}
                       + '/updateForm/'}">Update</a>

                            <a class="btn btn-outline-danger col-3"
                               th:href="@{'/users/' + ${userDto.id} + '/buylists/' + ${buyList.id}
                       + '/delete/'}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a class="btn btn-outline-primary col-2"
                   th:href="@{'/users/' + ${userDto.id} + '/buylists/createForm/'}">Add BuyList</a>
            </div>

            <hr>
            <div>

                <h4><strong>To-Do List</strong> (<i>favorites</i>)</h4>

                <table border="1" class="table table-striped table-responsive-md">
                    <tr>
                        <th>*</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Created</th>
                        <th>Is Done?</th>
                        <th>Actions</th>
                    </tr>

                    <tbody>
                    <tr th:each="todoList : ${favoritesTodoList}">
                        <td th:text="${todoList.isFavorites}"></td>
                        <td th:text="${todoList.name}"></td>
                        <td th:text="${todoList.description}"></td>
                        <td th:text="${todoList.created}"></td>
                        <td th:text="${todoList.isDone}"></td>

                        <td>
                            <a class="btn btn-outline-info col-3"
                               th:href="@{'/users/' + ${userDto.id} + '/todolists/' + ${todoList.id}}">View</a>

                            <a class="btn btn-outline-warning col-3"
                               th:href="@{'/users/' + ${userDto.id} + '/todolists/' + ${todoList.id}
                       + '/updateForm/'}">Update</a>

                            <a class="btn btn-outline-danger col-3"
                               th:href="@{'/users/' + ${userDto.id} + '/todolists/' + ${todoList.id}
                       + '/delete/'}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <a class="btn btn-outline-primary col-2"
                   th:href="@{'/users/' + ${userDto.id} +  '/todolists/createForm/'}">Add To-Do List </a>
            </div>
            <hr>

            <div>
                <form action="#"
                      method="GET"
                      th:action="@{/categories/}">
                    <button type="submit" class="btn btn-outline-info col-2"> categories Page</button>
                </form>
            </div>
            <hr>
            <div>
                <form action="#"
                      method="GET"
                      th:action="@{/categories/subcategories}">
                    <button type="submit" class="btn btn-outline-info col-2"> subcategories Page</button>
                </form>
            </div>
            <hr>
        </div>
    </div>

    <div th:insert="fragments/frag.html :: footer"></div>

</div>
</body>
</html>