<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>subcategories Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div class="container">
    <h1>subcategories Page</h1>
    <hr>
    <div>
        <form action="#"
              method="GET"
              th:action="@{'/categories/'}">
            <button type="submit" class="btn btn-outline-info col-2">Back to categories Page</button>
        </form>
    </div>
    <hr>
    <br>bla bla :
    <br>bla :
    <br>bla bla bla :
    <br>

    <hr>
    <div>
        <h4><strong>All Subcategories</strong> (<i>all Subcategories</i>)</h4>

        <table border="1" class="table table-striped table-responsive-md">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>

            <tbody>
            <tr th:each="subcategory : ${subcategoryDtoList}">
                <td th:text="${subcategory.name}"></td>
                <td th:text="${subcategory.description}"></td>
                <td th:text="${subcategory.categoryName}"></td>

                <td>
                    <a class="btn btn-outline-info col-3"
                       th:href="@{'/categories/subcategories/' + ${subcategory.id}}">View</a>

                    <a class="btn btn-outline-warning col-3"
                       th:href="@{'/categories/subcategories/' + ${subcategory.id} + '/updateForm/'}">Update</a>

                    <a class="btn btn-outline-danger col-3"
                       th:href="@{'/categories/' + ${subcategory.categoryId} + '/subcategories/' + ${subcategory.id} + '/delete/'}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<hr>

</body>
</html>