<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>

<div class="container">
    <div th:fragment="header (userId)">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{'/users/' + ${userId} + '/finance/'}">Finance</a></li>
                        <li><a href="#" th:href="@{'/users/' + ${userId} + '/planning'}">Planning</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="jumbotron">
            <div class="row text-center">
                <div class="row">
                    <h2>Home Bookkeeping Application</h2>
                </div>
            </div>
            <div class="row text-center">
                <img src="../../static/images/img1.png" width="30%"
                     th:src="@{/images/img1.png}" />
            </div>
        </div>
        
    </div>
</div>

</body>
</html>