<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>

    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <title>Menu</title>

    <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css"/>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>
<nav id="nav-menu" class="navbar navbar-expand-lg">
        <table width="100%">
            <a class="navbar-brand p-0"
               href="/">
                <img src="../../static/images/logo.png" alt="Logo" width="40"/>
            </a>
            <tr>
                <td align="centre">
                    <table>
                        <tr>
                            <td>
                                <a th:href="@{/}"> Home </a>
                            </td>
                            <td sec:authorize="isAuthenticated()">
                                <a th:href="@{/checks/}">Checks</a>
                            </td>
                            <td sec:authorize="isAuthenticated()">
                                <a th:href="@{/}">Finance</a>
                            </td>
                            <td sec:authorize="isAuthenticated()">
                                <a th:href="@{/}">Reports</a>
                            </td>
                            <td sec:authorize="isAuthenticated()">
                                <a th:href="@{/}">To-Do</a>
                            </td>
                            <td sec:authorize="isAuthenticated()">
                                <a th:href="@{/}">BuyList</a>
                            </td>
                            <td sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER')">
                                <a th:href="@{/}">Checks</a>
                            </td>
                            <td sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_MANAGER')">
                                <a th:href="@{/users/}">All Users</a>
                            </td>
                        </tr>
                    </table>
                </td>
                <td align="right">
                    <div sec:authorize="isAuthenticated()">
                        <div>
                            Hello, <a th:href="@{/users/profile}"><span
                                sec:authentication="principal.username">User</span></a>
                        </div>
                        <div>
                            <a th:href="@{/logout}">Logout</a>
                        </div>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <div>
                            Hello, Unknown. Please <a th:href="@{/login}">Login</a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
</nav>
</body>
</html>