<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>CheckList CheckList Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container">
    <h1>CheckList Page</h1>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/users/' + ${checkListDto.userId}}">
        <button type="submit" class="btn btn-outline-info col-2">Back to User Page</button>
    </form>
    <hr>
    <div>
        <form action="#"
              method="GET"
              th:action="@{'/users/' + ${checkListDto.userId} + '/finance'}">
            <button type="submit" class="btn btn-outline-info col-2">Back to finance Page</button>
        </form>
    </div>
    <hr>
    <br>Purchase Date : <a th:text="${checkListDto.purchaseDate}"></a>
    <br>Name : <a th:text="${checkListDto.name}"></a>
    <br>Description : <a th:text="${checkListDto.description}"></a>
    <br>Place : <a th:text="${checkListDto.place}"></a>
    <br>
    <br>
    <h4><strong>
        <mark>CheckList Total price :<a th:text="${checkListDto.totalPrice}"></a></mark>
    </strong></h4>
    <hr>
    <br>
    <h4><strong>
        <mark>In Detail. Total Sum Of All Positions :<a th:text="${checkListDto.getTotalSumOfAllPositions()}"></a></mark>
    </strong></h4>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/users/checklists/' + ${checkListDto.id} + '/updateForm/'}">
        <button type="submit" class="btn btn-outline-warning col-2">Update CheckList</button>
    </form>
    <hr>
    <div>
        <h1>Goods List</h1>
        <div>
            <a th:href="@{'/users/checklists/' + ${checkListDto.id} + '/select-cardproducts/'}"
               class="btn btn-primary col-2">Add Goods</a>
        </div>
        <div>
            <table border="1" class="table table-striped table-responsive-md">
                <tr>
                    <th>Description</th>
                    <th>WithoutDiscount</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>

                <tbody>
                <tr th:each="goods : ${checkListDto.goodsList}">
                    <td th:text="${goods.name}"></td>
                    <td th:text="${goods.priceWithoutDiscount}"></td>
                    <td th:text="${goods.price}"></td>
                    <td th:text="${goods.amount}"></td>

                    <td>
                        <a class="btn btn-outline-info col-3"
                           th:href="@{'/users/checklists/goods/' + ${goods.id}}">View</a>
                        <a class="btn btn-outline-warning col-3"
                           th:href="@{'/users/checklists/goods/' + ${goods.id} + '/updateForm/'}">Update</a>
                        <a class="btn btn-outline-danger col-3"
                           th:href="@{'/users/checklists/' + ${checkListDto.id} + '/goods/' + ${goods.id} + '/delete/'}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

</div>
<hr>
</body>
</html>