<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <title>All User Checks</title>

    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container">
    <h1>All User Checks</h1>
    <hr>

    <br>bla bla :
    <br>bla :
    <br>bla bla bla :
    <br>

    <hr>
    <div>
        <h4><strong>checklists</strong> (<i>...</i>)</h4>
        <div>
            <table border="1" class="table table-striped table-responsive-md">
                <tr>
                    <th>Date</th>
                    <th>Place</th>
                    <th>Name</th>
                    <th>Total Price</th>
                    <th sec:authorize="isAuthenticated()">Actions</th>
                </tr>

                <tbody>
                <tr th:each="check : ${checks}">
                    <td th:text="${check.purchaseDate}"></td>
                    <td th:text="${check.place}"></td>
                    <td th:text="${check.name}"></td>
                    <td th:text="${check.totalPrice}"></td>

                    <td>
                        <a class="btn btn-outline-info col-3"
                           th:href="@{'/users/checklists/' + ${check.id}}">View</a>

                        <a class="btn btn-outline-warning col-3"
                           th:href="@{'/users/checklists/' + ${check.id} + '/updateForm/'}">Update</a>

                        <a class="btn btn-outline-danger col-3"
                           th:href="@{'/checklists/' + ${check.id} + '/delete/'}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a class="btn btn-outline-primary col-2"
               th:href="@{'/checks/'}">Add</a>
        </div>
    </div>

    <hr>

</div>
</body>
</html>