<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Item Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>

</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container">
    <h1>TodoList Page</h1>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/users/' + ${todoListDto.userId} + '/todolists/'}">
        <button type="submit" class="btn btn-outline-info col-2"> Back to TodoList Page</button>
    </form>
    <hr>
    <br> Is Favorites : <a th:text="${todoListDto.isFavorites}"></a>
    <br> Name : <a th:text="${todoListDto.name}"></a>
    <br> Description : <a th:text="${todoListDto.description}"></a>
    <br> Created : <a th:text="${todoListDto.created}"></a>
    <br>
    <br><h4><strong><mark>Is Done : <a th:text="${todoListDto.isDone}"></a></mark></strong> </h4>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/users/todolists/' + ${todoListDto.id} + '/updateForm/'}">
        <button type="submit" class="btn btn-outline-warning col-2">Update</button>
    </form>
    <hr>

    <div>
        <h4><strong>TodoList</strong> (<i>what you need or want to do</i>)</h4>

        <table border="1" class="table table-striped table-responsive-md">
            <tr>
                <th>Status</th>
                <th>Name</th>
                <th>Created</th>
                <th>Is Done?</th>
                <th>Actions</th>
            </tr>

            <tbody>
            <tr th:each="task : ${todoListDto.taskList}">
                <td th:text="${task.status}"></td>
                <td th:text="${task.name}"></td>
                <td th:text="${task.created}"></td>
                <td th:text="${task.isDone}"></td>

                <td>
                    <a class="btn btn-outline-info col-3"
                       th:href="@{'/users/todolists/tasks/' + ${task.id}}">View</a>

                    <a class="btn btn-outline-warning col-3"
                       th:href="@{'/users/todolists/tasks/' + ${task.id} + '/updateForm/'}">Update</a>

                    <a class="btn btn-outline-danger col-3"
                       th:href="@{'/users/todolists/' + ${todoListDto.id} + '/tasks/' + ${task.id} + '/delete/'}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-outline-primary col-2"
           th:href="@{'/users/todolists/' + ${todoListDto.id} + '/tasks/createForm/'}">Add</a>
    </div>

    <hr>
</div>

<hr>

</body>
</html>