<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>categoryDto Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container">
    <h1>categoryDto Page</h1>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/categories/'}">
        <button type="submit" class="btn btn-outline-info col-2">Back to All categories Page</button>
    </form>
    <hr>
    <br> Name : <a th:text="${categoryDto.name}"></a>
    <br> Description : <a th:text="${categoryDto.description}"></a>
    <br> Created : <a th:text="${categoryDto.created}"></a>
    <br> Updated : <a th:text="${categoryDto.updated}"></a>
    <br> IsDeleted : <a th:text="${categoryDto.isDeleted}"></a>
    <br>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/categories/' + ${categoryDto.id} + '/updateForm/'}">
        <button type="submit" class="btn btn-outline-warning col-2">Update categoryDto</button>
    </form>
    <hr>

    <div>
        <h4><strong>All Subcategories</strong> (<i>subcategory</i>)</h4>

        <table border="1" class="table table-striped table-responsive-md">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>

            <tbody>
            <tr th:each="subcategory : ${categoryDto.subcategories}">
                <td th:text="${subcategory.name}"></td>
                <td th:text="${subcategory.description}"></td>

                <td>
                    <a class="btn btn-outline-info col-3"
                       th:href="@{'/categories/subcategories/' + ${subcategory.id}}">View</a>

                    <a class="btn btn-outline-warning col-3"
                       th:href="@{'/categories/subcategories/' + ${subcategory.id} + '/updateForm/'}">Update</a>

                    <a class="btn btn-outline-danger col-3"
                       th:href="@{'/categories/' + ${categoryDto.id} + '/subcategories/' + ${subcategory.id} + '/delete/'}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-outline-primary col-2"
           th:href="@{'/categories/' + ${categoryDto.id} + '/subcategories/createForm/'}">Add Subcategory</a>
    </div>

</div>
<hr>
</body>
</html>