<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Bookkeeping</title>

    <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
          href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css"/>
    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container">
    <div class="jumbotron">
        <div class="row text-center">
            <div class="row">
                <h2>Home Bookkeeping Application</h2>
            </div>
        </div>
        <div class="row text-center">
            <img src="../../static/images/img1.png" width="30%"
                 th:src="@{/images/img1.png}"/>
        </div>
    </div>
</div>

</body>
</html>