<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Task Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container">
    <h1>Update Form for Task</h1>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/users/todolists/' + ${taskDto.todoListId}}">
        <button type="submit" class="btn btn-outline-info col-2"> Back to TodoList Page</button>
    </form>
    <hr>
    <br>BuyList Id : <a th:text="${taskDto.todoListId}"></a>

    <form action="#"
          method="POST"
          th:action="@{'/users/todolists/tasks/update'}"
          th:object="${updateRequest}">

        <input class="form-control"
               id="id"
               name="id"
               placeholder="task id"
               th:value="${taskDto.id}"
               type="hidden"/>
        <input class="form-control"
               id="todoListId"
               name="todoListId"
               placeholder="todoListId"
               th:value="${taskDto.todoListId}"
               type="hidden"/>

        <label for="name">Name</label>
        <input class="form-control mb-4 col-4"
               id="name"
               name="name"
               placeholder="item name"
               th:value="${taskDto.name}"
               type="text"/>

        <div class="col-md-4">
            <div class="form-group">
                <label for="topic">Select status</label>
                <select class="form-control" id="topic" th:field="*{status}">
                    <option th:each="status : ${T(org.example.hbmvc.domain.enums.TaskStatus).values()}"
                            th:value="${status}" th:text="${status}"></option>
                </select>
            </div>
        </div>

        <label for="description">Description</label>
        <input class="form-control mb-4 col-4"
               id="description"
               name="description"
               placeholder="task description"
               th:value="${taskDto.description}"
               type="text"/>

        <button type="submit" class="btn btn-outline-warning col-2">Save Changes</button>
    </form>

    <hr>

</div>
</body>
</html>