<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>BuyList Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>

<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<div class="container">
    <h1>BuyList Page</h1>
    <hr>
    <div>
    <form action="#"
          method="GET"
          th:action="@{'/users/' + ${buyListDto.userId}}">
        <button type="submit" class="btn btn-outline-info col-2">Back to List Users</button>
    </form>
</div>
    <hr>
    <br>BuyList Id : <a th:text="${buyListDto.id}"></a>
    <br>Name : <a th:text="${buyListDto.name}"></a>
    <br>Description : <a th:text="${buyListDto.description}"></a>
    <br>Owner name : <a th:text="${buyListDto.username}"></a>
    <br>Date created : <a th:text="${buyListDto.created}"></a>
    <br>Date Updated : <a th:text="${buyListDto.updated}"></a>
    <br>is Deleted : <a th:text="${buyListDto.isDeleted.toString()}"></a>
    <br>is Done : <a th:text="${buyListDto.isDone}"></a>
    <br>
    <br>
    <h4><strong>
        <mark>BuyList Total price :<a th:text="${buyListDto.totalPrice}"></a></mark>
    </strong></h4>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/users/buylists/' + ${buyListDto.id} + '/updateForm/'}">
        <button type="submit" class="btn btn-outline-warning col-2">Update BuyList</button>
    </form>
    <hr>
    <hr>
    <div>
        <h2><strong>Item List</strong></h2>

        <div>
            <table border="1" class="table table-striped table-responsive-md">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Importance</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Actions</th>
                </tr>

                <tbody>
                <tr th:each="item : ${buyListDto.items}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.importance}"></td>
                    <td th:text="${item.price}"></td>
                    <td th:text="${item.amount}"></td>
                    <td>
                        <a class="btn btn-outline-info col-3"
                           th:href="@{'/users/buylists/items/' + ${item.id}}">View</a>

                        <a class="btn btn-outline-warning col-3"
                           th:href="@{'/users/buylists/items/'+ ${item.id} + '/updateForm/'}">Update</a>

                        <a class="btn btn-outline-danger col-3"
                           th:href="@{'/users/buylists/' + ${buyListDto.id} + '/items/'+ ${item.id} + '/delete/'}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a th:href="@{'/users/buylists/' + ${buyListDto.id} + '/items/createForm'}"
               class="btn btn-outline-primary col-2">Add </a>
        </div>
    </div>
    <hr>

</div>

</body>
</html>