<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>reports Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div class="container">
    <h1>reports Page</h1>
    <hr>
    <div>
        <form action="#"
              method="GET"
              th:action="@{'/users/' + ${userId}}">
            <button type="submit" class="btn btn-outline-info col-2">Back to reports Page</button>
        </form>
    </div>
    <hr>
    <div>
        <form action="#"
              method="GET"
              th:action="@{'/users/' + ${userId} + '/finance'}">
            <button type="submit" class="btn btn-outline-info col-2">Back to finance Page</button>
        </form>
    </div>
    <hr>
    <br>bla bla :
    <br>bla :
    <br>bla bla bla :
    <br>

    <hr>
    <div>
        <h4><strong>All reports</strong> (<i>all reports</i>)</h4>

        <table border="1" class="table table-striped table-responsive-md">
            <tr>
                <th>Data</th>
                <th>Name</th>

                <th>Actions</th>
            </tr>

            <tbody>
            <tr th:each="report : ${reportDtoList}">
                <td th:text="${report.created}"></td>
                <td th:text="${report.name}"></td>



                <td>
                    <a class="btn btn-outline-info col-3"
                       th:href="@{'/users/reports/' + ${report.id}}">View</a>

                    <a class="btn btn-outline-warning col-3"
                       th:href="@{'/users/reports/' + ${report.id} + '/updateForm/'}">Update</a>

                    <a class="btn btn-outline-danger col-3"
                       th:href="@{'/users/' + ${report.userId} + '/reports/' + ${report.id} + '/delete/'}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a class="btn btn-outline-primary col-2"
           th:href="@{'/users/' + ${userId} + '/reports/createForm/'}">Add reports</a>
    </div>

</div>

<hr>

</body>
</html>