<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>reports Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div class="container">
    <h1>Update Form for reports</h1>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/users/reports/' + ${reportDto.userId}}">
        <button type="submit" class="btn btn-outline-info col-2"> Back to reports Page</button>
    </form>
    <hr>
    <br>User Id : <a th:text="${reportDto.userId}"></a>

    <form action="#"
          method="POST"
          th:action="@{'/users/reports/update'}"
          th:object="${updateRequest}">

        <input class="form-control"
               id="id"
               name="id"
               placeholder="id"
               th:value="${reportDto.id}"
               type="hidden"/>
        <input class="form-control"
               id="userId"
               name="userId"
               placeholder="user Id"
               th:value="${reportDto.userId}"
               type="hidden"/>

        <label for="name">Name</label>
        <input class="form-control mb-4 col-4"
               id="name"
               name="name"
               placeholder="name"
               th:value="${reportDto.name}"
               type="text"/>

        <label for="timeline">timeline</label>
        <input class="form-control mb-4 col-4"
               id="timeline"
               name="timeline"
               placeholder="timeline"
               th:value="${reportDto.timeline}"
               type="text"/>


        <button type="submit" class="btn btn-outline-warning col-2">Save Changes</button>
    </form>

    <hr>

</div>
</body>
</html>