<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>reports Management System</title>
    <head lang="en">
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/5.1.3/css/bootstrap.min.css"
              rel="stylesheet" media="screen" />
        <link rel="stylesheet" th:href="@{/css/style.css}" href="../../static/css/style.css" />
    </head>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>
<div class="container">
    <h1>reports Page</h1>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/users/' + ${reportDto.userId} + '/reports/'}">
        <button type="submit" class="btn btn-outline-info col-2">Back to incomes Page</button>
    </form>
    <hr>
    <br> Name : <a th:text="${reportDto.name}"></a>
    <br> Timeline : <a th:text="${reportDto.timeline}"></a>
    <br> Created : <a th:text="${reportDto.created}"></a>
    <br> Updated : <a th:text="${reportDto.updated}"></a>
    <br>
    <br><h4><strong><mark>Important Sum for Report : ></a></mark></strong> </h4>
    <hr>
    <form action="#"
          method="GET"
          th:action="@{'/users/reports/' + ${reportDto.id} + '/updateForm/'}">
        <button type="submit" class="btn btn-outline-warning col-2">Update reports</button>
    </form>
    <hr>
</div>

</body>
</html>